/* WebsitePlayground.css */
a, ul{
	padding: 0px;
	margin: 0px;
}
ul {
	padding-left: 0px;				
}
html, body , #Surface{
    height: 100%;
	margin: 0;
	padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
* html #StickySpace {
    height: 100%;
}
#StickySpace {
    min-height: 100%;
    margin-bottom: -173px;
}




